@import '../../../../styles.scss';
.navigation {
    width: $side-panel-width;
    background-color: $light-background;
    border-right: $thin-light-border;
    @extend .flex-column;
    justify-content: flex-start;
    height: 100%;
    .profile-info {
        text-align: center;
        img {
            width: 100%;
        }
    }
}