<div class="navigation">
    <div class="profile-info">
        <div class="toggle-view">
            <i class="fa fa-eercast" aria-hidden="true"></i>
        </div>
        <img src="http://placehold.it/100x100" alt="">
        <p>2,405 / 4,321 <b>xp</b></p>
    </div>
    <div class="horizontal-options">
        <!-- Sub Nav Options -->
        <div class="option"></div>
        <!-- Challenges -->
        <div class="option"></div>
        <!-- Notif Stream -->
        <div class="option"></div>
    </div>
    <div class="display-option">

    </div>
</div>