.alert-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.alert {
    border-radius: 1px;
    padding: 10px;
    min-height: 20px;
    margin-bottom: 5px;
    max-width: 200px;
    overflow-y: scroll;
    overflow: hidden;
    overflow-wrap: break-word;
}