
 <div class="profile-panel"> 
 	<!-- Profile Picture -->
    <img class="profile-pic" src="http://via.placeholder.com/150x150" alt="">
    <!-- Profile Avatar -->
    <img class="profile-avatar" src="http://placehold.it/100x150" alt="">

    <div class="profile-name"> 

    	<!-- User Profile Name -->
    	<p> Name Here </p>

    </div>

    <div class="profile-stats">
    	<div class="profile-level-progress">
    		<!-- Exp Progress level bar-->
    		<img class="profile-level-progress" src="http://placehold.it/200x25" alt=""> 
    	</div>
    			<div layout="row">
                    <div flex>
    			    	<div class="profile-level">
    			    	<!-- User Level -->
    			    		<p> Level 61</p> 
                        </div>
			         </div>

			    

    			     <div flex>
    			    	<div class="profile-exp" >
    			    	<!-- User EXP Gained/Left until next level -->
    			    		<p> 100/1000 Exp </p>
    			    	</div>
    		    	</div>
                </div>
	</div>

    <div class="profile-info">

    	<div class="col left">
    		<p> Followers </p>
    		<div class="user-followers">
    			<p> 100 </p>
    		</div>
    	</div>

    	<div class="col center">
    		<p>Following</p>
	    	<div class="user-following">
	    		<p> 100 </p>
	    	</div>
    	</div>

    	<div class="col right">
    		<p>Post</p>
    		<div class="user-post">
	    		<p> 100 </p>
	    	</div>

    	</div>
    </div>

    	<img class="user-groups" src="http://via.placeholder.com/150x150" alt="">
    	<p> Groups </p>

    	<img class="user-games" src="http://via.placeholder.com/150x150" alt="">
    	<p> Games </p>

    	<div class="user-options">
            <div layout="row">
                <div flex>
                    <div class="col middle">
        	    		<div class="user-followers">
        	    			<p> Loggout </p>
        	    		</div>
                     </div>
                </div>



    	<div flex>
            <div class="col middle">
    	    	<div class="user-following">
    	    		<p> Settings </p>
    	    	</div>
            </div>
        </div>
        <div flex>
    	   <div class="col right">
    		  <div class="user-post">
	    		<p> Theme Settings </p>
	    	  </div>
            </div>
        </div>

 </div>

