@import '../../../styles.scss';

.p {
	 text-align: justify;
}

.profile-panel {
	border: 2px solid #73AD21;	
	padding-top: 5%;
	padding-left: 3%;
	padding-right: 3%;
	background-color: green;
    max-width: 100%;
    max-height: 100%;
    min-width: 50%;
    min-height: 50%;
}


.profile-pic {
		border: 2px solid #ff0000;
		border-radius: 80%;

        max-width: 40%;
        max-height: 20%;
        min-width: 20%;
        min-height: 10%;
        margin-left: 2%;
        margin-right: 2%;
        float: left;
    }

.profile-name {
	padding: 5%;
	margin-top: 15%;
	margin-left: 5%;
	margin-right: 5%;
	border: 2px solid #ffd700;
	max-width: 100%;
    max-height: 20%;
    min-width: 20%;
    min-height: 80%;
    float: center;
    background-color: grey;
    border-radius: 5%;
    
}

.profile-avatar {
		border: 2px solid 0092ff ;
		border-radius: 20%;
		max-width: 50%;
        max-height: 20%;
        min-width: 20%;
        min-height: 10%;
}

.profile-stats{
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border: 2px solid #3cff00;
	background-color: #3cff00;
	max-width: 100%;
    max-height: 30%;
    min-width: 20%;
    min-height: 20%;
    border-radius: 5%;

}
.profile-level {
	border-radius: 10%;
	background-color: grey;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
	max-width: 100%;
    max-height: 100%;
    min-width: 50%;
    min-height: 50%;
}

 .profile-exp {
	border-radius: 5%;
	background-color: grey;
	margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    max-width: 100%;
    max-height: 100%;
    min-width: 50%;
    min-height: 50%;
}

.profile-level-progress {
	border-radius: 10%;
	background-color: grey;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	max-width: 90%;
    max-height: 30%;
    min-width: 50%;
    min-height: 20%;
}

.profile-info {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border: 2px solid #3cff00;
	background-color: #3cff00;
	max-width: 100%;
    max-height: 30%;
    min-width: 20%;
    min-height: 20%;
    border-radius: 5%;
    @extend .flex-row;
        .col {
        height: 100%;
        &.right {
        	text-align: center;
            width: 25%;
        }
        &.left {
            text-align: center;
            width: 25%;
            margin-right: 5%;

        }
        &.center {
        text-align: center;
        margin-left: 5%;
		margin-right: 5%;



                }
            }
        }


.user-followers {
	text-align: center;	
	border-radius: 10%;
	background-color: grey;
	margin-top: 5%;
	margin-left: 10%;


}

.user-following {
	text-align: center;
	border-radius: 10%;
	background-color: grey;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;

}

.user-post {
	text-align: center;
	border-radius: 10%;
	background-color: grey;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;

}

.user-groups {
	border: 2px solid #ff0000;
	border-radius: 80%;
    max-width: 40%;
    max-height: 20%;
    min-width: 20%;
    min-height: 10%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;


}
.user-games {
	border: 2px solid #ff0000;
	border-radius: 80%;
    max-width: 40%;
    max-height: 20%;
    min-width: 20%;
    min-height: 10%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;


}

.user-options {
	margin-top: 40%;
	margin-left: 5%;
	margin-right: 5%;
	border: 2px solid #3cff00;
	background-color: #3cff00;
	max-width: 100%;
    max-height: 40%;
    min-width: 20%;
    min-height: 0%;
    border-radius: 5%;
     @extend .flex-row;
        .col {
        height: 100%;
        &.right {
        	text-align: center;
        	max-width: 70%;
        	min-width: 60%;
        	margin-right: 20%;

        }
        &.left {
            text-align: center;

        }
        &.center {
        text-align: center;


                }
            }
}

.user-logout {
	

}
