@import '../../../../styles.scss';
.top-stuff {
    flex-wrap: wrap;
    height: $navbar-height;
    width: 100%;
    border-bottom: $thick-dark-border;
    @extend .flex-row;
    .top-left {
        justify-content: flex-start;
        flex: 1;
    }
    .top-right {
        justify-content: flex-end;
        flex: 1;
        @extend .flex-row;
        .fa {
            line-height: 2;
            font-size: 25px;
            margin: 0 10px;
        }
        .top-tab {
            background: $darker-color;
            padding: 0 25px;
            border-left: $thick-dark-border-opaque;
            p {
                line-height: 3;
            }
            &.active {
                background: $lighter-background;
                margin: 0;
            }
            text-align: center;
        }
    }
}

.nav-options {
    @extend .flex-row;
    height: calc(100% - 20px);
    padding: 10px;
    .nav-button {
        border-radius: 3px;
        height: 100%;
        margin-right: 30px;
        align-self: flex-end;
        padding: 0 8px 0 8px;
        line-height: 30px;
        &.active {
            font-size: 18px;
        }
        &:hover {
            background: $lighter-background;
            box-shadow: 0 0 1px darken($primary-background, 3);
        }
    }
}

@media only screen and (max-width: $sm-break) {
    .navbar-container {
        // Should switch to diff navbar
        display: none !important;
    }
}