<div class="navbar-container">
    <div class="top-stuff" *ngIf="showTop">
        <div class="top-left">
            <div class="nav-options">
                <div *ngFor="let route of routes" class="nav-button" [ngClass]="currRoute == '/' + route.location ? 'active' : ''">
                    <p routerLink="{{route.location}}">{{route.label}} </p>
                </div>
            </div>
        </div>
        <div class="top-right">
            <i class="fa fa-search" aria-hidden="true"></i>

            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>

            <div class="top-tab active">
                <p>Another Thing</p>
            </div>
            <div class="top-tab">
                <p>Something</p>
            </div>
            <div class="top-tab">
                <p>Post</p>
            </div>
        </div>

    </div>
</div>