@import '../../../../styles.scss';
.navbar-container {
    @extend .flex-row;
    flex-wrap: nowrap;
    background-color: $secondary-background;
    border-bottom: $thin-light-border;
    .routes {
        justify-content: flex-start;
        @extend .flex-row;
        flex: 1;
        .nav-option {
            margin: 0 30px;
            height: $navbar-height - 10;
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: bolder;
            &.active {
                color: #efce25;
            }
        }
    }
}