@import '../styles.scss';
.site-grid {
    height: 100%;
    width: 100%;
    @extend .flex-row;
    .left {
        width: 150px;
        background-color: $light-background;
    }
    .main {
        flex: 1;
        height: 100%;
        max-width: calc(100% - 300px);
        .site-content {
            height: calc(100% - 65px);
            overflow: hidden;
        }
    }
    .right {
        width: 150px;
        background-color: $light-background;
    }
}

@media only screen and (max-width: $med-break) {
    .left {
        display: none !important;
    }
    .secondary-panel {
        display: none !important;
    }
}

@media only screen and (max-width: $sm-break) {
    .right {
        display: none !important;
    }
}