@import '../styles.scss';
.site-grid {
    height: 100%;
    width: 100%;
    @extend .flex-row;
    .left {
        width: $navbar-height * 2.5;
        @extend .flex-column;
        background-color: #373e48;
    }
    .main {
        flex: 1;
        @extend .flex-column;
        .site-content {
            @extend .flex-row;
            height: 100%;
            .secondary-panel {
                width: $navbar-height * 2.5;
                @extend .flex-column;
                background: #2c343f;
                height: 100%;
            }
            .center {
                flex: 1;
                height: 100%;
                overflow: scroll;
                overflow-x: hidden;
                margin-right: -$navbar-height * 2 - 20; // Screw
                padding-right: $navbar-height * 2 + 20; // Firefox
            }   
            .right {
                width: $navbar-height * 2;
                background-color: #373e48;
            }
        }
    }
}

@media only screen and (max-width: $med-break) {
    .left {
        display: none !important;
    }
    .secondary-panel {
        display: none !important;
    }
}

@media only screen and (max-width: $sm-break) {
    .right {
        display: none !important;
    }
}