<div class="site-grid">
    <div class="site-grid">
        <div class="left">
            
        </div>
        <div class="main">
            <navbar *ngIf="loggedin"></navbar>
            <div class="site-content">
                <div class="secondary-panel">
                    
                </div>
                <div class="center">
                    <router-outlet></router-outlet>
                </div>
                <div class="right">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<alerts></alerts>