@import "../../../styles.scss";
.timeline-container {
    @extend .flex-row;
    overflow: scroll;
    height: 100%;
    margin-bottom: -17px;
    padding-bottom: 17px;
    margin-right: -17px;
    padding-right: 17px;
    align-items: center;
}