@import "../../../styles.scss";
.timeline-container {
    padding: 20px;
    margin: auto;
    overflow: scroll;
    @extend .flex-column;
    max-width: 700px; // Remove if extra column on homepage
    overflow: hidden;
    .timeline-item {
        flex: 1;
    }
}