// Define color palette here
$default-font-color: rgb(207, 207, 228);
$primary-background: #2a2e37;
$light-background: #373e48;
$secondary-background: #2c343f;
$light-highlight: #79899f;
$thin-dark-border: 1px solid $primary-background;
$thick-dark-border: 2px solid $primary-background;