// Define color palette here
$default-font-color: rgb(207, 207, 228);
$primary-background: #15171b;
$light-background: #373e48;
$secondary-background: #25282f;
$light-highlight: #79899f;
$thin-dark-border: 1px solid $primary-background;
$thick-dark-border: 2px solid $primary-background;
$thin-light-border: 1px solid #2a2e37;
$thick-light-border: 2px solid #2a2e37;