/* You can add global styles to this file, and also import other style files */

@import './assets/_palette.scss';
@import './assets/_classes.scss';
$med-break: 1000px;
$sm-break: 700px;
$profile-panel-width: 200px;
$chatbar-width: 15%;
$navbar-height: 75px;
$default-font-family: 'Lato',
sans-serif;
html {
    height: 100%;
    
}

body {
    margin: 0;
    font-family: $default-font-family;
    background: $primary-background;
    color: $default-font-color;
    height: 100%;
    overflow: hidden;
    p {
        margin: 0;
    }
    .fa {
        cursor: pointer;
    }
}

.form-container {
    .mention {
        color: rgba(149, 107, 185, 0.74) !important;
        &:hover {
            text-decoration: none;
            opacity: 0.8;
        }
        cursor: pointer;
    }
    border-radius: 10px;
    min-height: 20px;
    border: $thick-dark-border;
    padding: 10px;
    &:focus {
        outline-width: 0 !important;
    }
}