/* You can add global styles to this file, and also import other style files */

@import './assets/_palette.scss';
@import './assets/_classes.scss';
$med-break: 800px;
$sm-break: 500px;
$profile-panel-width: 15%;
$chatbar-width: 15%;
$navbar-height: 50px;
$default-font-family: 'Lato',
sans-serif;
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: $default-font-family;
    background: $primary-background;
    color: $default-font-color;
    height: 100%;
    overflow: hidden;
     ::-webkit-scrollbar {
        display: none;
    }
    p {
        margin: 0;
    }
    .fa {
        cursor: pointer;
    }
}