@import '../../../../styles.scss';
$left-padding: 20px;
$profile-pic-size: 80px;
.timeline-item {
    margin-top: 45px;
    padding-left: 20px;
    position: relative;
    @extend .flex-row;
    .main-container {
        .profile-picture-container {
            background: transparent;
            position: absolute;
            margin-top: -30px;
            margin-left: -20px;
            .profile-picture {
                border-radius: 100%;
                width: $profile-pic-size;
                border: 8px solid $secondary-background;
            }
        }
        .item-contents {
            padding: 20px;
            margin: 5px;
            min-height: 100px;
            background: $secondary-background;
            .content-container {
                @extend .flex-column;
                height: 100%;
                .details {
                    height: $profile-pic-size / 2.5;
                    padding-left: $profile-pic-size / 2 + 20;
                }
                .content {
                    flex: 1;
                    @extend .flex-row;
                    .action-feed {
                        padding-top: 15px;
                        @extend .flex-column;
                        .activity-pic {
                            width: 40px;
                            height: 40px;
                            border-radius: 100%;
                            margin-bottom: 5px;
                        }
                    }
                    .body {
                        padding-left: 20px;
                        flex: 1;
                    }
                }
            }
        }
    }
    .actions {
        @extend .flex-column;
        margin-left: -20px;
        margin-top: 10px;
        .action {
            height: 30px;
            width: 30px;
            border-radius: 100%;
            background-color: $light-highlight;
            margin-bottom: 10px;
            opacity: 0.1;
            transition: opacity 300ms ease-in;
            &:hover {
                opacity: 1;
            }
        }
    }
}