@import '../../../../styles.scss';
$left-padding: 20px;
$profile-pic-size: 55px;
.timeline-item {
    @extend .flex-row;
    margin: 5px;
    &:hover {
        .actions {
            opacity: 1;
        }
    }
    .main-container {
        width: calc(100vw - #{$side-panel-width * 3});
        .item-contents {
            min-height: 80px;
            padding: 15px;
            background: $secondary-background;
            @extend .flex-row;
            .profile-picture-container {
                background: transparent;
                .profile-picture {
                    border-radius: 100%;
                    width: $profile-pic-size;
                }
            }
            .content-container {
                @extend .flex-column;
                height: 100%;
                padding-left: 25px;
                .details {
                    .username {
                        font-size: 16px;
                        font-weight: 800;
                    }
                }
            }
        }
    }
    .actions {
        opacity: 0;
        @extend .flex-column;
        margin-left: -20px;
        justify-content: space-around;
        transition: opacity 300ms ease-in;
        .action {
            height: 30px;
            width: 30px;
            border-radius: 100%;
            background-color: $light-highlight;
            opacity: 0.1;
            transition: opacity 300ms ease-in;
            &:hover {
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width: $med-break) {
    .main-container {
        width: 100% !important;
    }
}

@media only screen and (max-width: $sm-break) {
    .main-container {
        width: calc(100vw - 10px) !important;
    }
    .timeline-item {
        margin-left: 30px !important;
    }
}